.highlight {
  background-color: #ffbe0b;
}

.mention {
  background-color: #bde0fe;
  cursor: pointer;
  padding: 0 3px;
  border-radius: 3px;
}

.line {
}

.highlight-line {
  background-color: red;
  border-radius: 5px;
}