span[data-mention="true"] {
  background-color: #bde0fe !important;
}

div[data-line="true"] {
  padding: 0 10px;
  border: 2px solid transparent;
  line-height: calc(1rem + 6px);
}

span[data-word="true"] {
  /* line-height: calc(1rem - 2px); */
  /* border: 1px solid transparent; */
}

span[data-highlight="true"] {
  background-color: #e5e5e5;
  /* border-color: rgb(88, 88, 88, .2) !important; */
}

.highlight-line {
  border-color: #e5e5e5 !important;
}
